name: Deploy Hugo site to Pages

on:
  push:
    branches:
      - main  # 如果你的主分支是 master，请改为 master
  workflow_dispatch:

# 允许一个并发部署
concurrency:
  group: "pages"
  cancel-in-progress: true

# 默认使用 bash
defaults:
  run:
    shell: bash

# 设置 GITHUB_TOKEN 权限以允许部署到 GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # 构建任务
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.146.0
    steps:
      - name: 安装 Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: 检出代码
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: 设置 Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: 使用 Hugo 构建
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL ${{ steps.pages.outputs.base_url }}
      - name: 上传构建产物
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs
  # 部署任务
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: 部署到 GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

